body {
    margin: 40px auto;
    max-width: 40em;
    line-height: 1.6;
    font-size: 18px;
    color: #222;
    padding: 0 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
    align-self: center;
}

h1, h2, h3, h4 {
    text-align: center;
}

.season-year {
    margin-top: -1em;
}

.seasons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-template-rows: 0.5fr;
    margin-bottom: 5em;
}

@media screen and (max-width: 800px) {
    .img {
        margin: 0px;
    }
    .seasons {
        grid-template-columns: 1fr;
    }
}
